<h1>Depenses globale avec "<%= @friend.name %>"</h1>
<% if @global_user < 0 %>
  <p>Je lui dois <%= @global_user.abs %> <%= @global_user.currency %></p>
<% else %>
  <p>Il me doit <%= @global_user.abs %> <%= @global_user.currency %></p>
<% end %>