<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Editer', edit_user_path(@user) %> |
<%= link_to 'Retour', users_path %>
