<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :expense_title %>
  </div>

  <div class="field">
    <%= form.label :amount_money %>
    <%= form.text_field :amount_money, id: :expense_amount_money %>
  </div>

  <div class="field">
  <%= form.label :user %>
  <%= form.select(
          :user_id,
          options_for_select(@users.map{ |user| [ user.name, user.id ] })
       ) %>
  </div>

    <div class="field">
      <label>Others</label>
      <%= form.select(
              :user_ids,
              options_for_select(@users.map{ |user| [ user.name, user.id ] }),
              {},
              { :multiple => true }
          ) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
