<h1>Balance Globale : <%= @global_user %> <%= @global_user.currency %></h1>

<p>On me doit <%= @user_spent %> <%= @user_spent.currency %></p>
<p>Je dois <%= @users_debtor %> <%= @users_debtor.currency %></p>
<% console %>