<p id="notice"><%= notice %></p>

<h1>Dépenses</h1>

<table>
  <thead>
    <tr>
      <th>Intitulé</th>
      <th>Montant</th>
      <th>Payeur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.title %></td>
        <td><%= expense.amount %> <%= expense.amount.currency %></td>
        <td><%= expense.user.name %></td>
        <td><%= link_to 'Afficher', expense %></td>
        <td><%= link_to 'Editer', edit_expense_path(expense) %></td>
        <td><%= link_to 'Supprimer', expense, method: :delete, data: { confirm: 'Etes vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Dépense', new_expense_path %>
