<p id="notice"><%= notice %></p>

<p>
  <strong>Intitulé:</strong>
  <%= @expense.title %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @expense.amount_money %> <%= @expense.amount_money.currency %>
</p>

<p>
  <strong>Payeur:</strong>
  <%= @expense.user.name %>
</p>

<% if !@expense.users.empty? %>
  <p>Beneficiaires :</p>
  <ul>
    <% @expense.users.each do |user|%>
      <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Editer', edit_expense_path(@expense) %> |
<%= link_to 'Retour', expenses_path %>
