<p id="notice"><%= notice %></p>

<p>
  <strong>Intitulé:</strong>
  <%= @expense.title %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @expense.amount_cents %>
</p>

<p>
  <strong>Payeur:</strong>
  <%= @expense.user.name %>
</p>

<%= link_to 'Editer', edit_expense_path(@expense) %> |
<%= link_to 'Retour', expenses_path %>
